/* Estilos globales para resetear márgenes, rellenos y estilos de lista */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    max-width: 100%;
    /* Asegura que los elementos no se desborden */
}

/* Fuente global para el cuerpo del sitio */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url("img/Fondo.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

/* Estilos para el encabezado */
.header {
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.blur {
    filter: blur(5px);
}

/* Estilos para la barra de navegación */
.navbar {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 2em auto;
    z-index: 2;
    background: rgba(255, 255, 255, 0.555);
    /* Agrega el efecto de vidrio */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.226);
    border-radius: 10px;
}

.navbar a {
    color: rgb(10, 10, 10);
}

/* Estilos para la lista de navegación en la barra */
.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 1.5em;
}

.navbar .nav-links ul li.active a {
    color: rgb(213, 41, 107);
    font-weight: 400;
}

/* Estilos para el icono de menú desplegable */
.navbar .menu-hamburger {
    display: none;
    /* Oculta el ícono del menú en pantallas grandes */
    top: 3em;
    right: 1em;
    width: 2em;
    z-index: 3;
}

/* Contenedor para los elementos .info, .info1, .info2 */
.info-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* Cambia esto a "column" si quieres que los elementos se alineen en una columna */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 9em;
}

/* Estilos para los elementos "info", "info1" y "info2" */
.info-container .info,
.info-container .info1,
.info-container .info2 {
    background: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(7px);
    width: 15em;
    height: 15em;
    padding: .75em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1.9);
    color: rgb(5, 5, 5);
    text-align: center;
    z-index: 1;
    margin: 0.625em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.info-container .info img,
.info-container .info1 img,
.info-container .info2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.info-container .info .price,
.info-container .info1 .price,
.info-container .info2 .price {
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.quantity {
    font-size: 16px;
    padding: 9px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" viewBox="0 0 32 32"><path d="M16 22L6 9h20l-10 13z"/></svg>') no-repeat;
    background-position: right 10px top 50%;
    padding-right: 30px; /* Espacio para la flecha */
    cursor: pointer;
}

.quantity::-ms-expand {
    display: none;
}

.quantity:hover,
.quantity:focus {
    background-color: #45a049;
}

.info-container .info button,
.info-container .info1 button,
.info-container .info2 button {
    background-color: #f4f8f600; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Remueve el borde */
    padding: 9px 3px; /* Espaciado interno del botón */
    text-align: center; /* Alinea el texto al centro */
    text-decoration: none; /* Remueve el subrayado del texto */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    border-radius: 5px; /* Esquinas redondeadas del botón */
    transition-duration: 0.4s; /* Duración de la transición */
}

.info-container .info button:hover,
.info-container .info1 button:hover,
.info-container .info2 button:hover {
    background-color: #45a049; /* Color de fondo del botón cuando se pasa el mouse sobre él */
    color: white; /* Color del texto del botón cuando se pasa el mouse sobre él */
}

/* Estilos para hacer el menú responsive en pantallas más pequeñas */
@media screen and (max-width: 900px) {

    .navbar .menu-hamburger {
        display: block;
        /* Muestra el ícono del menú */
        z-index: 1;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(248, 238, 238, 0.555);
        backdrop-filter: blur(30px);
        /* Agrega el efecto de vidrio */
        top: 109%;
        width: 120%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -200%;
        transition: all 0.5s ease;
        z-index: 3;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 1.5em 0;
        font-size: 1.2em;
    }

    .info-container .info,
    .info-container .info1,
    .info-container .info2 {
        margin-top: 0em;
        /* Aumenta el margen superior para separar los elementos del menú */
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.25em;
        height: auto;
    }

    .info-container .info img,
    .info-container .info1 img,
    .info-container .info2 img {
        max-height: 50vh;
        /* Limita la altura de la imagen en pantallas pequeñas para evitar que ocupe demasiado espacio */
    }
}