<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="StyleS.CSS">
</head>

<body>
    <nav class="navbar">
        <a href="/index/Index.HTML" class="logo">
            <h3>BIENVENIDO A LA DULCERIA</h3>
        </a>
    </nav>
    <div class="caja">
        <i class="fas fa-user-lock icono"></i>
        <form action="#" th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" id="username" th:field="*{username}" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" th:field="*{password}" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Sesión">
            </div>
            <div class="form-group">
                <input type="submit" value="Registrase">
            </div>
        </form>
    </div>

</body>

</html>